:root {
  --background-color: #ffffff;
  --primary-color: #008891;
  --btn-color: #00587A;
  --text-color: #393E46;
  --border-color: #393e4634;
}

$background-color: var(--background-color);
$primary-color: var(--primary-color);
$btn-color: var(--btn-color);
$text-color: var(--text-color);
$border-color: var(--border-color);