@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700');
$title-font: "Montserrat", sans-serif;
$big-title-font: 700;
$regular-title-font: 400;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700');
$main-font: 'Ubuntu', sans-serif;
$big-font: 700;
$regular-font: 400;